
* {
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

img {
  size: 100%;
}

header {
  padding: 10px;
  font-size: 35px;
  text-align: center;
}

main {
  text-align: center;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;
}

div.board {
  float: left;
  margin: 30px 30px 30px 100px;
  vertical-align: middle;
}

ul {
  margin: 0 auto;
  width: 50vw;
  height: 50vw;
  padding: 5px 0 0 0;
  overflow: hidden;
}

.wrong {
  animation: shake 1s;
}

.about {
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  background-color: #fff;
  height: 100px;
  width: 200px;
  text-align: center;
  border: 2px dashed #666666;
  border-radius: 50%;
  line-height: 100px;
  outline: none;
}

.shuffle {
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  background-color: #fff;
  height: 100px;
  width: 200px;
  text-align: center;
  border: 2px dashed #666666;
  border-radius: 50%;
  line-height: 100px;
  outline: none;
}

button.ready {
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  background-color: #fff;
  height: 100px;
  width: 200px;
  text-align: center;
  border: 2px dashed #666666;
  border-radius: 50%;
  line-height: 100px;
  outline: none;
}


div.display {
  float: right;
  width: 25vw;
  margin: 10% 10% 10% 0;
  font-family: 'Indie Flower', cursive;
  background-color: #fff;
}

div.display h1, div.display p, div.display button, div.display input {
  display: inline-block;
  margin: 0 20px;
}

div.aboutSection, div.sizeSection, div.shuffleSection, div.scoreSection {
  margin: 30px 0;
}

div.display p {
  font-size: 40px;
}

li {
  float: left;
  list-style: none;
  background-size: cover;
  background-position: center;
  border: 2px ridge #666666;
  background-color: #98FB98;
  border-radius: 50%;
}

li:hover {
  cursor: pointer;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%, 100% {
     transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
}

.zack {
  background-image: url('../images/zack.png');
}

.cera {
  background-image: url('../images/cera.png');
}

.steve {
  background-image: url('../images/steve.png');
}

.fern {
  background-image: url('../images/fern.png');
}

.bieber {
  background-image: url('../images/bieber.png');
}

.barack {
  background-image: url('../images/barack.png')
}

/*.empty {
  background-image: url()
}*/
