* {
  box-sizing: border-box;
}

img {
  size: 100%;
}

main {
  height: 1000px;
  width: 1000px;
  margin: 0 auto;
}

ul {
 height: 1000px;
 width: 1000px;
 padding:0;
 float: left;
 margin: 5% auto;
}

li {
  height: 100px;
  width: 100px;
  float: left;
  list-style: none;
  background-size: cover;
  background-position: center;
  border: 1px ridge #000;
  border-style:
}

li:hover {
  cursor: pointer;
   animation-duration: 400ms;
   animation-name: blink;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

@keyframes blink {
  from {
     opacity: 0.8;
  }
  to {
    opacity: 0.5;
  }
}

.red {
  background-image: url('../images/red.png');
}

.yellow {
  background-image: url('../images/yellow.png');
}

.blue {
  background-image: url('../images/blue.png');
}

.green {
  background-image: url('../images/green.png');
}

.empty {
}
